<div class="row">
  <h1>Rock Paper Scissors</h1>
  <h3>Player <%= @player %>: Choose Your Weapon</h3>
</div>
<div class="row">
  <div class="col-sm-4">
    <a href='/?player1=rock' id="rock"><img src="/img/rock.png"></a>
  </div>
  <div class="col-sm-4">
    <a href="/?player1=paper" id="paper"><img src="/img/paper.png"></a>
  </div>
  <div class="col-sm-4">
    <a href="/?player1=scissors" id="scissors"><img src="/img/scissors.png"></a>
  </div>
</div>
